/* style.css */
body {
font-family: Arial;
background-color:#f2f2f2;
}

h1 {
color:darkblue;
}

img {
border-radius: 10px;
}

table {
border-collapse: collapse;
width: 60%;
}

th, td {
border: 1px solid black;
padding: 8px;
text-align: center;
}

th {
background-color:#cccccc;
}